/*animated bg logic*/
.move_bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(-45deg, rgb(4, 117, 215) ,rgb(35, 127, 213), rgb(176, 207, 232), rgb(40, 65, 110));
  filter: brightness(0.85);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
}

/* Page styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: Comfortaa, sans-serif;
}
.generate-btns {
    z-index: 300;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    margin-left: 46px;
    margin-right: 46px;
}
.generate-btns button {
    opacity: 0.95;
    border-color: transparent;
    background-color: rgb(255, 255, 255);
    color:  rgb(4, 117, 215);
    width: 49%;
    padding: 18px;
    border-radius: 30px;
    transition: all 0.20s;
}
.generate-btns button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(28, 75, 140);
}
.main-wrap {
  background: radial-gradient(circle,  rgb(4, 117, 215) 0%, rgb(40, 65, 110) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  z-index: 500;
  margin-bottom:72px;
  padding-top: 40px;
  padding-bottom: 145px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 35px;
  width: 80%;
  height: 530px;
  background: rgb(255, 255, 255);
  opacity: 0.8;
}
.logo-wrap {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.imsa-logo {
  flex-direction: column;
  width: 250px;
}
.app-title {
  font-size: 32px;
  font-family: 'Proxima Nova';
}
.form-wrap {
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
}
.form-wrap label {
    font-weight: 700;
}
.form-wrap .form input{
    font-family: 'Proxima Nova';
    width:250px;
    margin: 6px 0px;
    margin-bottom: 8px;
    height:35px;
    color:rgb(155, 152, 152);
    padding-left: 10px;
    padding-right: 9px;
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
}
.form-wrap .form select{
    font-family: 'Proxima Nova';
    width:270px;
    margin: 6px 0px;
    margin-bottom: 10px;
    height:35px;
    color:rgb(155, 152, 152);
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
}
.form-wrap .form input:focus{
    border: 1px solid rgb(28, 75, 130);
    outline: none;
}
.form-wrap .form input::placeholder{
    color: rgb(175, 174, 174);
}
.form-wrap .form .submit-btn{
    padding:16px;
    cursor: pointer;
    width: 270px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 5px;
    background-color: rgb(4, 117, 215);
    color: rgb(247, 244, 244);
    border-radius:30px;
    border: none;
}
.form-wrap .form .submit-btn:hover{
    background-color: rgba(39, 39, 175, 0.938);
    transition: all ease 0.25s;
}

/* event tab logic and radio styling*/
.events {
    margin-left: 90px;
    margin-bottom: 200px;
    display: flex;
}
.tabs {
    display: flex;
    flex-direction: column;
  }
  .tabs button {
    font-size: 18px;
    font-family: 'Proxima Nova';
    margin-top: 22px;
    margin-bottom: 20px;
  }
  .tabs input {
    font-family: 'Proxima Nova';
  }
  .tab-btn {
    flex: 1;
    color: rgb(4, 117, 215);
    background-color: white;
    border:rgb(28, 75, 140);
    border-style: solid;
    cursor: pointer;
    padding: 30px;
    border-radius: 30px;
    transition: 0.3s;
  }
  .tab-btn.active {
    background-color: rgb(28, 75, 140);
    color: white;
  }
  .tab-content {
    display: none;
    margin-left: 20px;
    padding: 20px 12px;
    border-left: 1px solid #ccc;
  }

/** prize display & help button **/
  .info {
    display: flex;
    position: absolute;
    top: 270px;
    left: 885px;
    right: 200px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 200px;
    margin-left: 170px;
  }
  .info b {
    font-size: 25px;
    text-decoration: underline;
  }
  .info ul {
    font-size: 16px;
  }
.helpbtn {
  cursor: pointer;
  margin-top: 215px;
  margin-left: 290px;
}

